<?xml version="1.0"?>
<config>
    <modules>
        <Encomage_Customwidget>
            <version>0.1.2</version>
        </Encomage_Customwidget>
    </modules>
    <global>
        <blocks>
            <customwidget>
                <class>Encomage_Customwidget_Block</class>
            </customwidget>
        </blocks>
        <helpers>
            <customwidget>
                <class>Encomage_Customwidget_Helper</class>
            </customwidget>
        </helpers>
    </global>
</config>